# Pandas Profiling Library
The pandas_profiling library in Python include a method named as ProfileReport() which generate a basic report on the input DataFrame. 

**The report consist of the following:**

1. DataFrame overview,
2. Each attribute on which DataFrame is defined,
3. Correlations between attributes (Pearson Correlation and Spearman Correlation), and
4. A sample of DataFrame.

**See more for Pandas Profiling :** https://www.analyticsvidhya.com/blog/2021/06/generate-reports-using-pandas-profiling-deploy-using-streamlit/

## 1. Install

In [1]:
pip install pandas_profiling

Requirement already satisfied: pandas_profiling in c:\programdata\anaconda3\lib\site-packages (3.1.0)
Requirement already satisfied: markupsafe~=2.0.1 in c:\programdata\anaconda3\lib\site-packages (from pandas_profiling) (2.0.1)
Requirement already satisfied: missingno>=0.4.2 in c:\programdata\anaconda3\lib\site-packages (from pandas_profiling) (0.5.0)
Requirement already satisfied: visions[type_image_path]==0.7.4 in c:\programdata\anaconda3\lib\site-packages (from pandas_profiling) (0.7.4)
Requirement already satisfied: phik>=0.11.1 in c:\programdata\anaconda3\lib\site-packages (from pandas_profiling) (0.12.0)
Requirement already satisfied: requests>=2.24.0 in c:\programdata\anaconda3\lib\site-packages (from pandas_profiling) (2.24.0)
Requirement already satisfied: pydantic>=1.8.1 in c:\programdata\anaconda3\lib\site-packages (from pandas_profiling) (1.8.2)
Requirement already satisfied: matplotlib>=3.2.0 in c:\programdata\anaconda3\lib\site-packages (from pandas_profiling) (3.5.1)
Requirement already satisfied: numpy>=1.16.0 in c:\programdata\anaconda3\lib\site-packages (from pandas_profiling) (1.19.5)
Collecting joblib~=1.0.1
  Downloading joblib-1.0.1-py3-none-any.whl (303 kB)
Requirement already satisfied: tqdm>=4.48.2 in c:\programdata\anaconda3\lib\site-packages (from pandas_profiling) (4.50.2)
Requirement already satisfied: seaborn>=0.10.1 in c:\programdata\anaconda3\lib\site-packages (from pandas_profiling) (0.11.2)
Requirement already satisfied: jinja2>=2.11.1 in c:\programdata\anaconda3\lib\site-packages (from pandas_profiling) (2.11.2)
Requirement already satisfied: tangled-up-in-unicode==0.1.0 in c:\programdata\anaconda3\lib\site-packages (from pandas_profiling) (0.1.0)
Requirement already satisfied: pandas!=1.0.0,!=1.0.1,!=1.0.2,!=1.1.0,>=0.25.3 in c:\programdata\anaconda3\lib\site-packages (from pandas_profiling) (1.4.1)
Requirement already satisfied: scipy>=1.4.1 in c:\programdata\anaconda3\lib\site-packages (from pandas_profiling) (1.5.2)
Requirement already satisfied: multimethod>=1.4 in c:\programdata\anaconda3\lib\site-packages (from pandas_profiling) (1.6)
Requirement already satisfied: htmlmin>=0.1.12 in c:\programdata\anaconda3\lib\site-packages (from pandas_profiling) (0.1.12)
Requirement already satisfied: PyYAML>=5.0.0 in c:\programdata\anaconda3\lib\site-packages (from pandas_profiling) (5.3.1)
Requirement already satisfied: networkx>=2.4 in c:\programdata\anaconda3\lib\site-packages (from visions[type_image_path]==0.7.4->pandas_profiling) (2.5)
Requirement already satisfied: attrs>=19.3.0 in c:\programdata\anaconda3\lib\site-packages (from visions[type_image_path]==0.7.4->pandas_profiling) (20.3.0)
Requirement already satisfied: Pillow; extra == "type_image_path" in c:\programdata\anaconda3\lib\site-packages (from visions[type_image_path]==0.7.4->pandas_profiling) (8.0.1)
Requirement already satisfied: imagehash; extra == "type_image_path" in c:\programdata\anaconda3\lib\site-packages (from visions[type_image_path]==0.7.4->pandas_profiling) (4.2.1)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\programdata\anaconda3\lib\site-packages (from requests>=2.24.0->pandas_profiling) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\programdata\anaconda3\lib\site-packages (from requests>=2.24.0->pandas_profiling) (1.25.11)
Requirement already satisfied: certifi>=2017.4.17 in c:\programdata\anaconda3\lib\site-packages (from requests>=2.24.0->pandas_profiling) (2020.6.20)
Requirement already satisfied: idna<3,>=2.5 in c:\programdata\anaconda3\lib\site-packages (from requests>=2.24.0->pandas_profiling) (2.10)
Requirement already satisfied: typing-extensions>=3.7.4.3 in c:\programdata\anaconda3\lib\site-packages (from pydantic>=1.8.1->pandas_profiling) (3.7.4.3)
Requirement already satisfied: pyparsing>=2.2.1 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.2.0->pandas_profiling) (2.4.7)
Requirement already satisfied: packaging>=20.0 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.2.0->pandas_profiling) (20.4)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.2.0->pandas_profiling) (1.3.0)
Requirement already satisfied: cycler>=0.10 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.2.0->pandas_profiling) (0.10.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.2.0->pandas_profiling) (4.29.1)
Requirement already satisfied: python-dateutil>=2.7 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.2.0->pandas_profiling) (2.8.1)
Requirement already satisfied: pytz>=2020.1 in c:\programdata\anaconda3\lib\site-packages (from pandas!=1.0.0,!=1.0.1,!=1.0.2,!=1.1.0,>=0.25.3->pandas_profiling) (2020.1)
Requirement already satisfied: decorator>=4.3.0 in c:\programdata\anaconda3\lib\site-packages (from networkx>=2.4->visions[type_image_path]==0.7.4->pandas_profiling) (4.4.2)
Requirement already satisfied: six in c:\programdata\anaconda3\lib\site-packages (from imagehash; extra == "type_image_path"->visions[type_image_path]==0.7.4->pandas_profiling) (1.15.0)
Requirement already satisfied: PyWavelets in c:\programdata\anaconda3\lib\site-packages (from imagehash; extra == "type_image_path"->visions[type_image_path]==0.7.4->pandas_profiling) (1.1.1)
Installing collected packages: joblib
  Attempting uninstall: joblib
    Found existing installation: joblib 0.14.1
    Uninstalling joblib-0.14.1:
      Successfully uninstalled joblib-0.14.1
Successfully installed joblib-1.0.1
Note: you may need to restart the kernel to use updated packages.

### 2. Overview for Dataset using Pandas Profiling

In [2]:
import pandas as pd
df = pd.read_csv('bikes.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10886 entries, 0 to 10885
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   datetime            10886 non-null  object
 1   season              10672 non-null  object
 2   holiday             10030 non-null  float64
 3   workingday          9388 non-null   float64
 4   weather             8746 non-null   object
 5   temp                8104 non-null   float64
 6   humidity            7462 non-null   float64
 7   windspeed           6820 non-null   float64
 8   casual              10886 non-null  int64
 9   registered          10886 non-null  int64
 10  rented_bikes_count  10886 non-null  int64
dtypes: float64(5), int64(3), object(3)
memory usage: 935.6+ KB

In [4]:
df.describe()

,holiday,workingday,temp,humidity,windspeed,casual,registered,rented_bikes_count
count,10030.000000,9388.000000,8104.000000,7462.000000,6820.000000,10886.000000,10886.000000,10886.000000
mean,0.029113,0.678206,20.317665,61.790673,12.708806,36.021955,155.552177,191.574132
std,0.168131,0.467189,7.818568,19.262084,8.131154,49.960477,151.039033,181.144454
min,0.000000,0.000000,0.820000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,0.000000,0.000000,13.940000,47.000000,7.001500,4.000000,36.000000,42.000000
50%,0.000000,1.000000,20.500000,62.000000,12.998000,17.000000,118.000000,145.000000
75%,0.000000,1.000000,26.240000,77.000000,16.997900,49.000000,222.000000,284.000000
max,1.000000,1.000000,41.000000,100.000000,56.996900,367.000000,886.000000,977.000000

In [5]:
df.sample(5)

,datetime,season,holiday,workingday,weather,temp,humidity,windspeed,casual,registered,rented_bikes_count
7990,2012-06-13 07:00:00,Summer,0.0,1.0,NaN,NaN,NaN,19.9995,25,480,505
9553,2012-10-02 10:00:00,Winter,0.0,1.0,NaN,NaN,88.0,NaN,3,42,45
6979,2012-04-09 03:00:00,Summer,0.0,1.0,Clear,18.04,NaN,11.0014,0,3,3
6418,2012-03-04 16:00:00,Spring,0.0,0.0,Clear,14.76,NaN,32.9975,68,231,299
8640,2012-08-02 09:00:00,Fall,NaN,1.0,NaN,NaN,66.0,7.0015,31,312,343

In [6]:
from pandas_profiling import ProfileReport
ProfileReport(df)

Tab(children=(HTML(value='<div id="overview-content" class="row variable spacing">\n    <div class="row">\n   …