# **1. If , elif and else statments**

---



---

In [ ]:
if True :
  print(' The if Condition is True so if block is excusted ')

 The if Condition is True so if block excusted

In [ ]:
if False :
  print(' The if Condition is True so if block is excusted ')
else : 
  print('The if Condition is False so if block isnit excusted ')

	The if Condition is False so if block isnit excusted

In [ ]:
if False :
  print(' The if Condition is True so if block is excusted ')
elif True : 
  print('The elif Condition is True so elif block is excusted but if block isnit excusted ')

The elif Condition is True so elif block is excusted but if block isnit excusted

In [ ]:
inp = input("")
inp = inp.split()
if '+' in inp :
  sum= int(inp[0])+ int(inp[2])
  print(sum)
elif '-' in inp :
  sub= int(inp[0])-int(inp[2])
  print(sub)    
elif '*' in inp : 
  mul= int(inp[0])*int(inp[2])
  print(mul)    
elif '/' in inp :
  div= int(inp[0])/int(inp[2])
  print(div) 
else :
  print("Enter correct operation")

12 + 3
15

In [ ]:
inp = int(input("Enter Your AGE : "))
if inp<=12 and inp>0 :
  print(f'OH {inp}! \n Welcome! Clever Child ^_^')
elif inp>12 and inp<20 :
  print(f'OH {inp}! \nWelcome! Rock Teenger ^_^')
elif inp>=20 and inp<40 :
  print(f'OH {inp}! \nWelcome! Strong Young ^_^')
elif inp>40 :
  print(f'OH {inp}! \nWelcome! Handsom Young  ^_^ ')
else :
  print("Please! Enter correct Age ")

In [ ]:
inp = int(input("Enter Your AGE : "))
if inp<=12 and inp>0 :
  print(f'OH {inp}! \n Welcome! Clever Child ^_^')
elif inp>12 and inp<20 :
  print(f'OH {inp}! \nWelcome! Rock Teenger ^_^')
elif inp>=20 and inp<40 :
  print(f'OH {inp}! \nWelcome! Strong Young ^_^')
elif inp>40 :
  print(f'OH {inp}! \nWelcome! Handsom Young  ^_^ ')
else :
  print("Please! Enter correct Age ")

Enter Your AGE : 12
OH 12!
 Welcome! Clever Child ^_^

In [ ]:
names = ['aslm','nody','mohammed','fawzy','hala']
if 'aslm' in names:
  print("Age is 20")
elif ' ' in names  :
  print(" \\")
if 'wael' in names :
  print('not')
else :
  print('else')

Age is 20
else

In [ ]:
a = 30
b = 20 

if a > b:
    print(a)
else:
    print(b)

30

In [ ]:
print(a if a > b else a<b)

30

In [ ]:
number = int(input('Enter your number: '))

if number > 0:
    print('positive')
elif number < 0:
    print('negative')
else:
    print('zero')

Enter your number: 12
positive

In [ ]:
INP = int(input("enter your number : "))
if INP in range(90,101) :
  print("Your Grade is A+")
elif INP in range(85,90)  :
  print("Your Grade is A")
elif INP in range(75,85)  :
  print("Your Grade is B+ ")
elif INP in range(65,75)  :
  print("Your Grade is B")
elif INP in range(50,65)  :
  print("Your Grade is C")  
elif INP in range(50,65)  :
  print("Your Grade is F")  
else :
  print("invaild number \nPlease enter number from 0 to 100 ")

enter your number : 12
invaild number
Please enter number from 0 to 100

In [ ]:
x = int(input('enter ur number: '))

if x <= 0:
    print('please input +ve number')
elif x % 2 == 0:
    print('even')
elif x % 2 != 0:
    print('odd')

enter ur number: 12
even

# **2.For loops**

---



---

In [ ]:
lis_1 = [1,3,5,4,12,2]
for item in lis_1 :
  print(item)
print("--------------------------------------") 
for item in lis_1 :
    if item % 2 == 0:
        print(f'{item} is Even number')
    else:
        print(f'{item} is Odd number')
print("--------------------------------------") 
print(' Powering of items by 2 :')
for item in lis_1 :
  print(item**2) 
list_sum = 0
for sum in lis_1:
    list_sum = list_sum + sum
print("--------------------------------------") 
print("The sum of items =",list_sum)

1
3
5
4
12
2
--------------------------------------
1 is Odd number
3 is Odd number
5 is Odd number
4 is Even number
12 is Even number
2 is Even number
--------------------------------------
 Powering of items by 2 :
1
9
25
16
144
4
--------------------------------------
The sum of items = 27

In [ ]:
alphabet= 'a b c d e f g h i j k l m n o p q r s t u w v x y z '
for letter in alphabet.split() :
  print(letter)

a
b
c
d
e
f
g
h
i
j
k
l
m
n
o
p
q
r
s
t
u
w
v
x
y
z

In [ ]:
alphabet= 'a b c d e f g h i j k l m n o p q r s t u w v x y z '
for letter in alphabet.split() :
  print(letter.upper())

A
B
C
D
E
F
G
H
I
J
K
L
M
N
O
P
Q
R
S
T
U
W
V
X
Y
Z

In [ ]:
lis_2 = [(2,4,20,30),(6,8,20,30),(10,12,20,30)]
for (v1,v2,v3,v4) in lis_2:
    print(f'{v1} - {v2} - {v3} - {v4}')

2 - 4 - 20 - 30
6 - 8 - 20 - 30
10 - 12 - 20 - 30

In [ ]:
dic = {'Key_1': 'Val_1','Key_2': 'Val_2','Key_3': 'Val_3'}
for k, v in dic.items():
    print(f"the key is {k} = {v}")

the key is Key_1 = Val_1
the key is Key_2 = Val_2
the key is Key_3 = Val_3

In [ ]:
list(range(12))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [ ]:
for i in range(10):
    print(f'{i}- hi')

0- hi
1- hi
2- hi
3- hi
4- hi
5- hi
6- hi
7- hi
8- hi
9- hi

In [ ]:
for i in range(10, 41):
    if i % 3 == 0:
        print(f'{i} is divisable on 3')
        break
        print('continuing the loop')
    else:
        print(i)

10
11
12 is divisable on 3

In [ ]:
for i in range(10, 41):
    if i % 3 == 0:
        continue
        print(f'{i} is divisable on 3')
    else:
        print(i)

10
11
13
14
16
17
19
20
22
23
25
26
28
29
31
32
34
35
37
38
40

In [ ]:
digits = range(10)

for i in digits:
    print(i)
else:
    print("No items left.")

0
1
2
3
4
5
6
7
8
9
No items left.

In [ ]:
days = ['monday', 'friday', 'saturday']

for day in days:
    print(f'letters of {day} are: ')
    for letter in day:
        print(letter)
    print('-----------')

letters of monday are:
m
o
n
d
a
y
-----------
letters of friday are:
f
r
i
d
a
y
-----------
letters of saturday are:
s
a
t
u
r
d
a
y
-----------

In [ ]:
for x in range(1, 11):
    print(f'gdwl el darb le rkm {x}')
    for y in range(1, 11):
        print(f"{x} * {y} = {x * y}")
    print('--------------')

gdwl el darb le rkm 1
1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10
--------------
gdwl el darb le rkm 2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
--------------
gdwl el darb le rkm 3
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
--------------
gdwl el darb le rkm 4
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40
--------------
gdwl el darb le rkm 5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50
--------------
gdwl el darb le rkm 6
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60
--------------
gdwl el darb le rkm 7
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70
--------------
gdwl el darb le rkm 8
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80
--------------
gdwl el darb le rkm 9
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90
--------------
gdwl el darb le rkm 10
10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100
--------------

# **3.While loops**

---



---

In [ ]:
x = 0
while x < 10:
    print(x)
    if x==3:
        print('x==3')
    else:
        print('continuing...')
    x+=1

0
continuing...
1
continuing...
2
continuing...
3
x==3
4
continuing...
5
continuing...
6
continuing...
7
continuing...
8
continuing...
9
continuing...

In [ ]:
counter = 0
while counter <= 10:
    print(counter)
    counter = counter + 1
else:
    print("Inside else")

0
1
2
3
4
5
6
7
8
9
10
Inside else

In [ ]:
while True :
  INP = int(input("enter your number : ")) 
  INP_2 = int(input("enter your second number : ")) 
  if INP == 0 and INP_2 ==0  :
      break    
  oper = input("ente the operation (+|/|-|*): ") 
  print("===========================================================33")
  if  oper == '+' :
    print(f' the sum = {INP+INP_2}')
  elif  oper == '-' :
    print(f' the subtract = {INP-INP_2}')     
  if  oper == '*' :
    print(f' the multiplication = {INP*INP_2}')
  if  oper == '/' :
    print(f' the divison = {INP/INP_2}')

In [ ]:
cont = "y"
while cont == "y":
    print("Select operation\n1.Add\n2.Subtract\n3.Multiply\n4.Divide")

    choice = input("Enter choice(1/2/3/4):")

    num1 = int(input("Enter first number: "))
    num2 = int(input("Enter second number: "))

    if choice == '1':
       print(num1,"+",num2,"=", (num1 + num2))

    elif choice == '2':
       print(num1,"-",num2,"=", (num1 - num2))

    elif choice == '3':
       print(num1,"*",num2,"=", (num1 * num2))

    elif choice == '4':
       print(num1,"/",num2,"=", (num1 / num2))
    else:
       print("Invalid input")
    cont = input("Continue?y/n:")
    if cont == "n":
        break

Select operation
1.Add
2.Subtract
3.Multiply
4.Divide
Enter choice(1/2/3/4):1
Enter first number: 33
Enter second number: 2
33 + 2 = 35
Continue?y/n:n

# **4.Useful Operators**

---



---

## 4.1.enumerate()

In [ ]:
x=[]
x = enumerate(['a','b'])
x

In [ ]:
list(enumerate([30, 40, 50, 60]))

[(0, 30), (1, 40), (2, 50), (3, 60)]

In [ ]:
list(enumerate('abcde'))

[(0, 'a'), (1, 'b'), (2, 'c'), (3, 'd'), (4, 'e')]

In [ ]:
list(enumerate('abcde', 8))

[(8, 'a'), (9, 'b'), (10, 'c'), (11, 'd'), (12, 'e')]

In [ ]:
for idx, letter in enumerate('abcde'):
    print(f'at index {idx} charchter is {letter}')

at index 0 charchter is a
at index 1 charchter is b
at index 2 charchter is c
at index 3 charchter is d
at index 4 charchter is e

## 4.2.zip()

In [ ]:
mylist1 = [10,20,30,40,50,60]
mylist2 = [100,200,300,400,500,600]
list(zip(mylist1,mylist2))

[(10, 100), (20, 200), (30, 300), (40, 400), (50, 500), (60, 600)]

In [ ]:
for num_1,num_2 in zip(mylist1,mylist2):
    print(num_1 + num_2)

110
220
330
440
550
660

In [ ]:
mylist1 = [10,20,30,40,50,60]
mylist2 = ['a','b','c','d','e','f']
mylist3 = [10,20,30,40,50,60]
list(zip(mylist1, mylist2, mylist3))

[(10, 'a', 10),
 (20, 'b', 20),
 (30, 'c', 30),
 (40, 'd', 40),
 (50, 'e', 50),
 (60, 'f', 60)]

In [ ]:
for v1,v2,v3 in zip(mylist1, mylist2, mylist3):
    print(f'v1: {v1}, v2: {v2}, v3: {v3}')

v1: 10, v2: a, v3: 10
v1: 20, v2: b, v3: 20
v1: 30, v2: c, v3: 30
v1: 40, v2: d, v3: 40
v1: 50, v2: e, v3: 50
v1: 60, v2: f, v3: 60